.bgch {
    background-image: url('../img/Mehedi Hasan Nayem website Bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-y: -120px; */
}

.bgc1 {
    background-color: #020923;
    /*background-image: url('../img/bg\powernavybg1.jpg');*/
}

.bgc2 {
    background-color: #020923;
}

.bgc3 {
    background-color: #020924;
    /*background-image: url('../img/bg\powernavybg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
}

.bgc4 {
    background-color: #020923;
}

.bgc5 {
    background-color: #020923;
}

.bgc6 {
    background-color: #020923;
}

.bgc7 {
    background-color: #020923;
}

.bgcc {
    background-color: #153a5ea6;
    border-radius: 20px !important;
    
}

.bgnav {
    background-color: #153a5ea6;
}

.bgbtn {
    background-color: #00bae9;
    color: black;
    box-shadow: 0 0 3px 1px #00bae9 !important;

}
.bgbtn:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 0 6px 2px rgb(48, 47, 47) !important;
    /* border: 2px solid green; */
}
.bgx {
    background-color: #00bae9 !important;
    color: black;
}

.fox {
    color: #00bae9 !important;
}

.bx {
    border-color: #00bae9 !important;
}
.bgxs{
    box-shadow: 0 0 5px 1px #00bae9 !important;
}